@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");


/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(245, 245, 220);
  --color-accent: rgb(143, 197, 143);
  --fs-large: 2rem;
  --fs-small: 1.2rem;
}

/* CONTAINERS ALL */

body {
  width: 100vw;
  background-color: var(--color-dark);
  font-family: "Gideon Roman", cursive;
  color: var(--color-light);
  overflow: hidden;
  cursor: none;
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 5s ease-in;
}

/* NAV */

nav {
  min-height: 10vh;
  background: var(--color-dark);
  border-bottom: solid 8px;
  border-image: url("assets/leaves-bg.jpg") 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4em 0;
  z-index: 9;
}

.logo {
  display: flex;
}

.text-logo {
  font-size: var(--fs-large);
  text-align: center;
  padding: 0 1em;
  font-weight: 200;
  display: block;
  position: relative;
}

.text-logo::before {
  position: absolute;
  content: "LeontineC";
  animation: change 5s ease-in-out infinite;
  
  
} 

@keyframes change {
  30% {
    content: "LClaassen";
  }
  60% {
    content: "Frontender";
  }
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-size: var(--fs-large);
}

li {
  list-style: none;
}

.highlight {
  border-bottom: 3px solid;
  border-image: url("assets/leaves-bg.jpg") 1;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

a:hover,
a:focus {
  background: url("assets/leaves-bg.jpg");
  border-bottom: 3px solid;
  border-image: url("assets/leaves-bg.jpg") 1;
}

.text:hover,
.text:focus {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hamburger {
  display: none;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: var(--color-light);
  margin: 5px;
  transition: 1s linear;
}

/* SECTIONS */

.wrapper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

section {
  margin-top: 50vh;
  letter-spacing: .2em;
  line-height: 2em;
}

/* INTRO */

.intro {
  max-width: 50%;
  /* display: grid; */
  /* place-content: center; */
  text-align: center;
}

.para-intro {
  padding-bottom: 20vh;
}

.images {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  width:20rem;
  height: 22.5rem;
  padding: 1em;
  background-color: var(--color-light);
  border: 1px solid gray;
  border-radius: 2%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
 
  margin: 0 auto;
  display: block;
  transition: 2s ease-in;
}

.action {
  transform: rotate(10deg) translateX(50%);
}
 
.acting {
  transform: rotate(-10deg) translateX(-50%);
} 

.image-3 {
  transform: rotate(5deg);
  filter: grayscale(100%);
}

.observing {
  filter: grayscale(0%);
}

/* PROJECTS */
.projects {
  border: solid pink 1px;
     margin-top: 100vh;
}
/* CONTACT */

/* POINTER MOUSEFOLLOW */

.pointer {
  position: fixed;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgb(72, 197, 72, 0.6);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.1s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  ul {
    font-size: var(--fs-small);
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
    
  ul {
    position: absolute;
    top: 18vh;
    left: 0;
    right: 0;
    width: 100vw;
    height: 90vh;
    background: url('assets/mountains.jpg');
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--fs-large);
    opacity: 0;
    transition: 4s ease-in-out;
    }
   .hamburger {
     display: block;
   }
   ul.active {
      opacity: 1;
  }
   .pointer {
     display: none;
   }
   .text-logo {
     font-size: var(--fs-small);
   }
   .line1.clicked {
    transform: translateY(5px) rotate(135deg);
   }
   .line2.clicked {
      opacity: 0;
   }
   .line3.clicked {
    transform: translateY(-10px) rotate(-135deg);
   }
}

/* ANIMATION */

/*.animation::before {
            content: 'webdeveloper';
            position: absolute;
            color: beige;
            display: inline-block;
            font-size: 7vw;
            left: 30%;
}*/

.animation {
  position: absolute;
  border: solid black 40px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  top: 0;
  left: 0;
  right: 0;
  display: block;
  transition: opacity 8s ease-out;
  opacity: 1;
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, no-repeat;

  background-image: url("assets/forest.png"), url("assets/clouds.png"),
    url("assets/black-tree.png"), url("assets/cloud-dust.png"),
    url("assets/mountains.jpg");

  background-size: 200%, 110%, 120%, 150%, cover;
  background-position: 70%, -100%, 10%, 100%, 100%;

  animation-name: animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 330px) {
  .animation {
    background-size: 1000%, 110%, 600%, 150%, cover;
  }
}

@media (max-width: 640px) {
  .animation {
    margin-top: 0;
    background-size: 800%, 110%, 300%, 150%, cover;
    animation-duration: 60s;
  }
}
@media (max-width: 1400px) {
  .animation {
    background-size: 500%, 110%, 300%, 150%, cover;
  }
}

@keyframes animation {
  from {
    background-position: 70%, -100%, 10%, 100%, 100%;
  }
  to {
    background-position: 100%, 300%, -100%, -200%, 100%;
  }
} ;
