@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-light);
  position: relative;
  z-index: 8;
}

/* VARIABLES */

:root {
  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(245, 245, 220);
  --color-accent: rgb(163, 126, 105);
  --color-extra: rgb(0, 0, 255);
  --color-extra2: rgb(255, 255, 0);

  --fs-large: 2rem;
  --fs-small: 1.2rem;
  --bg: url("assets/bg.jpg");
}

/* CONTAINERS ALL */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20vh;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: var(--color-dark);
  font-family: "Gideon Roman", cursive;
  color: var(--color-light);
  overflow-x: hidden;
  position: relative;
  cursor: pointer;
  pointer-events: all;
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 5s ease-in;
}

/* NAV */

nav {
  height: 20vh;
  background: var(--color-dark);
  border-bottom: solid 8px;
  border-image: var(--bg) 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4em 0;
  z-index: 1;
}

.logo {
  display: flex;
}

.text-logo {
  font-size: var(--fs-large);
  text-align: center;
  font-weight: 200;
  display: block;
  position: relative;
}

.text-logo::before {
  position: absolute;
  top: 10%;
  content: "LeontineC";
  animation: change 5s ease-in-out infinite;
}

@keyframes change {
  30% {
    content: "LClaassen";
  }
  60% {
    content: "Frontender";
  }
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-size: var(--fs-large);
}

.navlist li {
  list-style: none;
}

li a:hover,
li a:focus {
  background: var(--bg);
  border-bottom: 3px solid;
  border-image: var(--bg) 1;
}

.list-text:hover,
.list-text:focus {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hamburger {
  display: none;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: var(--color-light);
  margin: 5px 0;
  transition: 1s linear;
}

/* SECTIONS */

.wrapper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  pointer-events: all;
}

section {
  min-height: 100vh;
  letter-spacing: 0.2em;
  line-height: 2;
  padding-top: 10em;
  font-size: var(--fs-small);
  text-align: center;
}

h2 {
  font-size: 4rem;
  background: var(--bg);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.letters {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* INTRO */

.intro {
  max-width: 50%;
  padding-bottom: 30em;
}

.para-intro {
  padding-bottom: 8em;
}

.images {
  position: relative;
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.image {
  width: 350px;
  height: 400px;
  padding: 1em;
  background-color: var(--color-light);
  border: 1px solid gray;
  border-radius: 2%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: block;
  transition: 2s ease-in;
}

.action {
  transform: rotate(10deg) translateX(50%);
}

.acting {
  transform: rotate(-10deg) translateX(-50%);
}

.image-3 {
  transform: rotate(5deg);
  filter: grayscale(100%);
}

.observing {
  transform: rotate(0deg);
  filter: grayscale(0%);
}

/* PROJECTS */
.projects {
  width: 100%;
  display: grid;
  align-content: center;
  text-align: center;
  /* border: solid purple 2px; */
}

.cards {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  /* padding-top: 5em; */
  width: 100%;
}

.card {
  filter: grayscale(100%);
  transition: 2s ease-in;
  /* border: solid lime 1px; */
  /* padding-top: 8em; */
}

.card-left {
   transform: scale(.8);
}

.card-right {
  transform: scale(.8);
} 

.loaded {
  transform: scale(1);
  filter: grayscale(0);
}

.card img {
  margin: 0 auto;
  display: block;
  width: 40%;
  height: auto;
  padding: 0.5em;
  background: var(--color-light);
  border-radius: 2%;
}

.projects a:hover, a:focus {
  color: red;

}

/* CONTACT */

.contact {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.contact-info {
  padding-top: 3em;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
}

.contact-info p {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: var(--fs-large);
}

.contact-info :nth-child(2) {
  grid-row: 2/2;
}

.contact-info :nth-child(3) {
  grid-row: 2/2;
  grid-column: 2/3;
}

.contact-info :nth-child(4) {
  grid-row: 2/2;
  grid-column: 3/3;
}

.contact-icon {
  width: 8em;
  height: 3rem;
  margin-top: 3rem;
  stroke: var(--color-light);
}
.contact-icon:hover {
  stroke: var(--color-accent);
  stroke-width: 1;
}



/*PARTICLES*/

.wrapper-dots {
  width: 100%;
  min-height: 100vh;
  display: grid;
  font-size: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 150px;
  padding: 4em;
  position: absolute;
  z-index: -1;
}

.wrapper-dots > .dots {
  border-radius: 50%;
  color: var(--color-accent);
  filter: hue-rotate(0deg);
  position: relative;
}
.wrapper-dots :nth-child(1) {
  animation: move 6s reverse infinite cubic-bezier(0.43, 0.87, 0.86, 0.33);
}
.wrapper-dots :nth-child(2) {
  animation: move 9s reverse infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.wrapper-dots :nth-child(3) {
  animation: move 4s reverse infinite cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.wrapper-dots :nth-child(4) {
  animation: move 8s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper-dots :nth-child(5) {
  animation: move 10s reverse infinite cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.wrapper-dots :nth-child(6) {
  animation: move 5s reverse infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrapper-dots :nth-child(7) {
  animation: move 7s infinite reverse cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.wrapper-dots :nth-child(8) {
  animation: move 6s reverse infinite cubic-bezier(0.19, 1, 0.22, 1);
}
.wrapper-dots :nth-child(9) {
  animation: move 10s reverse infinite cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.wrapper-dots > .dots::before {
  position: absolute;
  content: ".";
  color: var(--color-extra);
  top: -300px;
  left: 300px;
}

.wrapper-dots > .dots::after {
  position: absolute;
  content: ".";
  color: var(--color-extra2);
  top: 300px;
  left: -300px;
}

@keyframes move {
  50% {
    transform: rotate(360deg) translate(200px, -500px);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/* POINTER MOUSEFOLLOW */

/*.pointer {
  position: fixed;
  left: 0;
  top: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--bg);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.1s;
  z-index: 10;
} */

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  .navlist {
    font-size: var(--fs-small);
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .image {
    width: 200px;
    height: 250px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards img {
    width: 30%;
  }
  
  
 
}

@media screen and (max-width: 768px) {
  .navlist {
    position: absolute;
    top: 18vh;
    left: 0;
    right: 0;
    width: 100vw;
    height: 90vh;
    background: url("assets/mountains.jpg");
    background-position: center center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--fs-large);
    opacity: 0;
    transition: 4s ease-in-out;
  }
  .hamburger {
    display: block;
  }
  .navlist.active {
    opacity: 1;
  }
  .pointer {
    display: none;
  }
  .text-logo {
    font-size: var(--fs-small);
  }
  .line1.clicked {
    transform: translateY(5px) rotate(135deg);
  }
  .line2.clicked {
    opacity: 0;
  }
  .line3.clicked {
    transform: translateY(-10px) rotate(-135deg);
  }
  .images {
    width: 90%;
  }
  .image {
    width: 140px;
    height: 180px;
  }
  .cards img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .contact-info {
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 2em;
  }
  .contact-info :nth-child(2) {
    grid-row: 2;
    grid-column: 2/3;
  }
  .contact-info :nth-child(3) {
    grid-row: 3;
    grid-column: 2/3;
  }
  .contact-info :nth-child(4) {
    grid-row: 4;
    grid-column: 2/3;
  }
  .cards img {
    width: 60%;
  }
}

@media screen and (max-width: 320px) {
  .images {
    width: 100%;
  }
  .image {
    width: 120px;
    height: 150px;
  }
}

/*OPENING ANIMATION */

/*.animation::before {
  content: "webdeveloper";
  position: absolute;
  color: var(--color-primary);
  display: inline-block;
  font-size: 7vw;
  left: 30%;
  font-family: var(--font-primary);
} 

.animation {
  position: absolute;
  border: solid var(--color-dark) 40px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
  top: 0;
  left: 0;
  right: 0;
  display: block;
  transition: opacity 8s ease-out;
  opacity: 1;

  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, no-repeat;

  background-image: 
  url("assets/forest.png"), url("assets/clouds.png"),
    url("assets/black-tree.png"), url("assets/cloud-dust.png"),
    url("assets/mountains.jpg");
    background-size: 200%, 110%, 120%, 150%, 100%;
   

  background-size: 200%, 110%, 120%, 150%, cover;
  background-position: 70%, -100%, 10%, 100%, 100%;
  animation-name: animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 330px) {
  .animation {
    background-size: 1000%, 110%, 600%, 150%, 100%;
  }
}

@media (max-width: 640px) {
  .animation {
    margin-top: 0;
    background-size: 800%, 110%, 300%, 150%, 100%;
    animation-duration: 60s;
  }
}
@media (max-width: 1400px) {
  .animation {
    background-size: 500%, 110%, 300%, 150%, 100%;
  }
}

/*@keyframes animation {
  from {
    background-position: 70%, -100%, 10%, 100%, 100%;
  }
  to {
    background-position: 100%, 300%, -100%, -200%, 100%;
  }
} */
